//
   Created with JetBrains PhpStorm.
   User: Gernot
   Date: 16.02.13
   Time: 18:21
   To change this template use File | Settings | File Templates.

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js')
link(rel="stylesheet", type="text/css", href="/css/style.css")