//
   Created with JetBrains PhpStorm.
   User: Gernot
   Date: 16.02.13
   Time: 19:04
   To change this template use File | Settings | File Templates.

header
    h1 #{title}
    #navigation
        include navigation