//
   Created with JetBrains PhpStorm.
   User: Gernot
   Date: 16.02.13
   Time: 16:28
   To change this template use File | Settings | File Templates.
extends layout
block mainContent
    h1 Hi!
    unless userName
        #login
            form(method='post')
                div
                    input(type='text', name='username')
                    input(type='submit', value='Log In')
    else
        h1 Welcome #{userName}