//
   Created with JetBrains PhpStorm.
   User: Gernot
   Date: 16.02.13
   Time: 16:28
   To change this template use File | Settings | File Templates.
extends layout
block mainContent
    h1 Welcome to #{title}
    a(href='http://www.radiatedpixel.com/') Radiated Pixel