!!! 5
html(lang='en')
    head
        title= title
        include head
    body
        header
            include header
        div#content
            block mainContent
        footer
            include footer