//
   Created with JetBrains PhpStorm.
   User: Gernot
   Date: 16.02.13
   Time: 16:28
   To change this template use File | Settings | File Templates.

ul#navigation
    li: nav: a(href='/') home
    li: nav: a(href='/about') about